:root {
    --mode-50: 244, 244, 244;
    --mode-100: 224, 224, 224;
    --mode-200: 198, 198, 198;
    --mode-300: 168, 168, 168;
    --mode-400: 141, 141, 141;
    --mode-500: 111, 111, 111;
    --mode-600: 82, 82 ,82;
    --mode-700: 57, 57 ,57;
    --mode-800: 38, 38 ,38;
    --mode-900: 22, 22 ,22;
    --primary: 159, 133, 255;
    --secondary: 115, 162, 255;
}
